<form method="POST" action="/new">
    <head>
        <h2>New Message</h2>
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <label for="message">Message</label>
        <input type="text" id="message" name="message">
        <button type="submit">Submit</button>
    </head>
</form>