<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Mini Message Board
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h2 class="new-message"><a href="/new">add new message</a></h2>
    <div class="container">
        <ol>
            <% for (let i=messages.length-1; i >= 0; i--) { %>
                <li>
                    <h3>User: <%= messages[i].username %>
                    </h3>
                    <h4>Message: <span>
                            <%= messages[i].message %>
                        </span>
                    </h4>
                    <h4>Date: <span>
                            <%= messages[i].added %>
                        </span>
                    </h4>
                </li>
                <% } %>
        </ol>
    </div>
</body>

</html>